<% @stations.each do |station| %>
  <ul id=<%= "station-#{station.id}"  %>>
    <li><%= station.name %></li>
    <li><%= station.address %></li>
    <li><%= station.fuel_type%></li>
    <li><%= station.distance %></li>
    <li><%= station.access_time%></li>
  </ul>
<% end %>
